.IMPSSwitchHeroSectionHeaderGradient{
background: linear-gradient(90deg, #EDEDED 0%, #9573DE 50%, #F8F8F8 64.42%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.IMPSHeroSectionGradient{
   background: linear-gradient(180deg, rgba(64, 28, 139, 0.44) 0%, rgba(255, 255, 255, 0.00) 100%);
opacity: 0.75;
filter: blur(91.38px); 
position:absolute;
inset:0% 65% 8% 0%;
z-index:-1;
}

.IMPSGlanceHeaderGradient{
    background: linear-gradient(234deg, #FFF 38.94%, #9573DE 72.6%, #FFF 89.42%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.KeyCapabilitiesTopGradient{
   border-radius: 175.5px;
opacity: 0.75;
background: linear-gradient(180deg, rgba(64, 28, 139, 0.59) 0%, rgba(255, 255, 255, 0.00) 100%);
filter: blur(91.38888549804688px);
position:absolute;
inset:-8% 40% 83% 39%;
}
.KeyCapabilitiesBottomGradient{
  background: linear-gradient(180deg, rgba(64, 28, 139, 0.44) 0%, rgba(255, 255, 255, 0.00) 100%);
opacity: 0.75;
filter: blur(91.38888549804688px);  
position:absolute;
inset:35% 33% 8% 33%;
z-index:-1;
}
.KeyCapabilitiesLeftGradient{
 background: linear-gradient(180deg, rgba(64, 28, 139, 0.44) 0%, rgba(255, 255, 255, 0.00) 100%);
opacity: 0.75;
filter: blur(91.38888549804688px);  
position:absolute;
inset:25% 86% 8% 4%;
z-index:-1;
}
.IMPSServiceBoxBG{
   border-radius: 24px;
border: 1px solid rgba(141, 49, 245, 0.20);
background: rgba(25, 17, 51, 0.50);
padding:38px 36px 48px 36px;
}
.IMPSServiceHeaderGradient{
   background: linear-gradient(234deg, #FFF 38.94%, #9573DE 72.6%, #FFF 89.42%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; 
}
.IMPSServiceTopGradient{
   border-radius: 175.5px;
opacity: 0.75;
background: linear-gradient(180deg, rgba(64, 28, 139, 0.59) 0%, rgba(255, 255, 255, 0.00) 100%);
filter: blur(91.38888549804688px); 
position:absolute;
inset:-5% 34% 83% 34%;
z-index:-1;
}
.ChannelIntegrationHeaderGradient{
    background: linear-gradient(234deg, #FFF 38.94%, #9573DE 72.6%, #FFF 89.42%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.ChannelIntegrationTopGradient{
    border-radius: 175.5px;
opacity: 0.75;
background: linear-gradient(180deg, rgba(64, 28, 139, 0.59) 0%, rgba(255, 255, 255, 0.00) 100%);
filter: blur(91.38888549804688px);
position:absolute;
inset:14% 32% 55% 30%;
z-index:-1;
}
.RealTimeBeneficiaryHeaderGradient{
    background: linear-gradient(233deg, #FFF 14.82%, #9573DE 53.96%, #FFF 101.53%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.BeneficiaryAccountHeaderGradient{
    background: linear-gradient(233deg, #FFF 14.82%, #9573DE 53.96%, #FFF 101.53%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.BeneficiaryAccountGradient{
    border-radius: 175.5px;
opacity: 0.75;
background: linear-gradient(180deg, rgba(64, 28, 139, 0.59) 0%, rgba(255, 255, 255, 0.00) 100%);
filter: blur(91.38888549804688px);
position:absolute;
inset:16% 30% 15% 30%;
z-index:-1
}
.BANLSliderHeaderGradient{
    background: linear-gradient(233deg, #FFF 14.82%, #9573DE 53.96%, #FFF 79.24%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.DigitalPaymentGradient1{
    border-radius: 382px;
background: linear-gradient(180deg, #A489FF 0%, #343434 100%);
filter: blur(200px);
position:absolute;
inset:50% 74% 0% 0%;
}
.DigitalPaymentGradient2{
    border-radius: 382px;
background: linear-gradient(180deg, #A489FF 0%, #343434 100%);
filter: blur(200px);
position:absolute;
inset:0% 0% 57% 80%;
}
.IMPSScaleSecurityHeaderGradient{
    background: linear-gradient(234deg, #FFF 38.94%, #9573DE 72.6%, #FFF 89.42%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.IMPSScaleSecurityBg{
  border-radius: 23.163px;
border: 0.965px solid rgba(141, 49, 245, 0.20);
background: rgba(25, 17, 51, 0.20);  
}
.IMPSScaleSecurityLine{
    opacity: 0.9981;
background: linear-gradient(0deg, #767676 0%, #FF8400 48.96%, #DF91F7 100%);
width:1px;
height:280px;
}
/* .IMPSScaleSecurityImgBoxBg{
background: linear-gradient(124deg,rgba(169, 1, 163, 1) 0%, rgba(111, 65, 210, 1) 36%);
} */
.IMPSScaleSecurityGradient1{
    border-radius: 175.5px;
opacity: 0.75;
background: linear-gradient(180deg, rgba(64, 28, 139, 0.51) 0%, rgba(255, 255, 255, 0.00) 100%);
filter: blur(91.38888549804688px);
position:absolute;
inset:32% 88% 0% 0%;
}
.IMPSScaleSecurityGradient2{
border-radius: 175.5px;
opacity: 0.75;
background: linear-gradient(180deg, rgba(64, 28, 139, 0.42) 0%, rgba(255, 255, 255, 0.00) 100%);
filter: blur(91.38888549804688px);   
position:absolute;
inset:0% 0% 39% 86%;
}
.BankStartupHeaderGradient{
    background: linear-gradient(233deg, #FFF 14.82%, #9573DE 53.96%, #FFF 101.53%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.BankStartupGradient1{
    position:absolute;
    background: linear-gradient(180deg, rgba(64, 28, 139, 0.44) 0%, rgba(255, 255, 255, 0.00) 100%);
opacity: 0.75;
filter: blur(91.38888549804688px);
inset:0% 67% 0% 14%;
z-index:-1;
}
.BankStartupGradient2{
    position:absolute;
    background: linear-gradient(180deg, rgba(64, 28, 139, 0.44) 0%, rgba(255, 255, 255, 0.00) 100%);
opacity: 0.75;
filter: blur(91.38888549804688px);
inset:0% 43% 0% 39%;
z-index:-1;
}
.BankStartupGradient3{
    position:absolute;
    background: linear-gradient(180deg, rgba(64, 28, 139, 0.44) 0%, rgba(255, 255, 255, 0.00) 100%);
opacity: 0.75;
filter: blur(91.38888549804688px);
inset:0px 17% 0% 62%;
z-index:-1;
}
@media(max-width:1023px){
.IMPSHeroSectionGradient{
 border-radius: 266.708px;
opacity: 0.75;
background: linear-gradient(180deg, rgba(79, 49, 180, 0.86) 0%, rgba(255, 255, 255, 0.00) 100%);
filter: blur(45.05208206176758px);
inset:-15% 10% 100% 10%;
}
.IMPSGlanceHeaderGradient{
    background: linear-gradient(90deg, #EDEDED 0%, #9573DE 50%, #F8F8F8 64.42%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.IMPSGlanceImgGradientMob{
    border-radius: 152.434px;
opacity: 0.75;
background: linear-gradient(180deg, rgba(64, 28, 139, 0.59) 0%, rgba(255, 255, 255, 0.00) 100%);
filter: blur(79.37777709960938px);
position:absolute;
inset:36% 20% 36% 20%;
}
.KeyCapabilitiesLeftGradient{
    display:none;
}
}

@media(max-width:767px){
    .KeyCapabilitiesTopGradient{
      background: linear-gradient(180deg, rgba(64, 28, 139, 0.44) 0%, rgba(255, 255, 255, 0.00) 100%);
opacity: 0.84;
filter: blur(91.38888549804688px); 
position:absolute;
inset:-2% 0% 83% 0%;
z-index:-1; 
    }
.IMPSServiceBoxBG{
    border-radius:6px;
}
.ChannelIntegrationTopGradient{
    display:none;
}
.BeneficiaryAccountGradient{
    inset:15% 10% 39% 10%;
}
}
@media(max-width:639px){
.KeyCapabilitiesBottomGradient{
display:none;
}
.IMPSServiceBoxBG{

padding:30px 37px 10px 20px;
height:131px;
}
.IMPSServiceTopGradient{
    inset:-2% 23% 90% 22%;
}

.DigitalPaymentGradient1{
    inset:85% 25% 0% 0%;
    border-radius: 329px;
background: linear-gradient(180deg, #170931 0%, #62537E 100%);
filter: blur(200px);
}
.DigitalPaymentGradient2{
    inset:0% 0% 85% 65%;
    background: linear-gradient(180deg, #A489FF 0%, #343434 100%);
filter: blur(200px);
}
.IMPSScaleSecurityLine{
    height:420px;
}
.IMPSScaleSecurityGradient1{
    border-radius: 175.5px;
opacity: 0.75;
background: linear-gradient(180deg, rgba(64, 28, 139, 0.51) 0%, rgba(255, 255, 255, 0.00) 100%);
filter: blur(91.38888549804688px);
      inset: 25% 63% 10% 0%;
}
.IMPSScaleSecurityGradient2{
    display:none;
}
.BankStartupGradient1{
    inset: 0% 33% 61% 30%;
}
.BankStartupGradient2{
    inset: 62% 29% 0% 32%;
}
.BankStartupGradient3{
    display:none;
}
}