.scroller {
  height: 100vh;
}
.slider-wrapper {
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.slider-wrapper .scroll-content {
  height: auto !important;
}



.text {
  color: #fff;
}



.p-wrap {
  position: relative;
  overflow: hidden;
  height: 80vh;
}

.panel {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: url("../images/5ed12171d9d512cb2feead83_5.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
