/* src/custom-scrollbar.css */

/* WebKit browsers: Chrome, Safari, Edge */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
  height:90%
}

.custom-scrollbar::-webkit-scrollbar-track {
 opacity: 0.9981;
background: linear-gradient(0deg, #FEED7A 0%, #FF8400 48.96%, #DF91F7 100%);
border-radius:4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #3b82f6; /* blue-500 */
  border-radius: 4px;
  border: 2px solid red; /* match the red background */
}

/* Firefox */
/* .custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #3b82f6 red; 
} */
.business-slider-parent{
    border-radius: 23.163px;
border: 0.965px solid rgba(141, 49, 245, 0.20);
background: rgba(25, 17, 51, 0.20);
}
.business-slider-image-sec{
    border-radius: 23.163px;
border: 0.965px solid #765775;
background: linear-gradient(0deg, #575E8E 0%, rgba(99, 99, 99, 0.00) 52.5%, rgba(119, 85, 122, 0.88) 100%);
}




.Newaletter-subscribe-btn{

background: #3E8222;
box-shadow: 0px 4.605px 16.119px 0px rgba(74, 58, 255, 0.16);
color: #FFF;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 21px; /* 87.5% */
}
.ControlFinance-custom-shadow {
  box-shadow: 0px 3.204px 11.213px 0px rgba(74, 58, 255, 0.16);
}

