.features-gradient-right {
  border-radius: 175.5px;
  opacity: 1;
  background: linear-gradient(
    90deg,
    rgba(64, 28, 200, 0.8) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  filter: blur(103px);
  position: absolute;
  inset: 37% -7% 22% 68%;
  z-index: -1;
}
.features-gradient-left {
  border-radius: 175.5px;
  opacity: 1;
  background: linear-gradient(
    90deg,
    rgba(64, 28, 200, 0.8) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  filter: blur(103px);
  position: absolute;
  inset: 32% 54% 9% 8%;
  z-index: -1;
  overflow: hidden;
}

.multilanguage-gradient {
  border-radius: 175.5px;
  /* opacity: 1;
  background: linear-gradient(
    252deg,
    rgba(64, 28, 200, 0.8) 0%,
    rgba(255, 255, 255, 0.6) 100%
  );
  filter: blur(300px); */
  background: linear-gradient(32deg, rgba(141, 49, 245, 0.00) -18.15%, rgba(255, 255, 255, 0.77) 41.47%, rgba(141, 49, 245, 0.77) 81.85%);
opacity: 0.2;
filter: blur(150px);
  position: absolute;
  inset: -9% 16% 68% 13%;
  z-index: -1;
  overflow: hidden;
}

.feature-comparison-gradient,
.feature-comparison-gradient2,
.feature-comparison-gradient1 {
  border-radius: 175.5px;
  opacity: 1;
  background: linear-gradient(
    97deg,
    rgba(64, 28, 139, 0.8) 0%,
    rgba(255, 255, 255, 0.7) 100%
  );
  filter: blur(183px);
  position: absolute;
  inset: 19% 79% 17% 9%;
  z-index: 1;
  overflow: hidden;
}
.feature-comparison-gradient1 {
  inset: 19% 48% 17% 38%;
}
.feature-comparison-gradient2 {
  inset: 19% 15% 17% 71%;
}

.form-soundbox-gradient {
border-radius: 361px;
background: linear-gradient(180deg, rgba(23, 9, 49, 0.62) 0%, rgba(98, 83, 126, 0.62) 100%);
filter: blur(200px);
  position: absolute;
  inset:35% 0% 0% 68%;
}
.cardbg {
  background: linear-gradient(
    90deg,
    rgba(121, 121, 121, 1) 0%,
    rgba(111, 65, 210, 1) 100%
  );
}


.form-input-gradient {
 border-radius: 382px;
background: linear-gradient(180deg, #A489FF 0%, #343434 100%);
filter: blur(200px);
  position: absolute;
  inset: 61% 70% 1% 0%;
  z-index:-1;
}

.soundboxFeatures-gradient {
  border-radius: 175.5px;
  opacity: 0.2;
  background: linear-gradient(
    97deg,
    rgba(164, 137, 255, 0.8) 0%,
    rgba(52, 52, 52, 0.6) 100%
  );
  filter: blur(400px);
  position: absolute;
  inset: 0% 0% 42% 0%;
  z-index: 1;
  overflow: hidden;
}

.custom-bg {
  background-image: url("/image/soundbox/halfmoon_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.SoundBoxBackgroundGradient{
  border-radius: 30px;
background: linear-gradient(180deg, #1A1235 0%, #0B051E 100%);
}
.SoundBoxBackgroundGradient-mob{
  height:500px;
  border-radius: 30px;
background: linear-gradient(180deg, #1A1235 0%, #0B051E 100%);
}
@media (max-width:1023px) {
.form-input-gradient{
  inset:0% 0% 79% 52%;
}
}
@media (max-width:1190px) {
  .features-gradient-right{
    inset: 4% 0% 74% 8%;
  }
  
}
@media (max-width: 999px) {
  .features-gradient-rihght {
    border-radius: 175.5px;
    opacity: 1;
    background: linear-gradient(
      90deg,
      rgba(64, 28, 200, 0.8) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    filter: blur(103px);
    position: absolute;
    inset: 4% 10% 74% 8%;
    z-index: -1;
  }

  .feature-comparison-gradient1 {
    inset: 19% 34% 17% 30%;
  }

  .form-soundbox-gradient {
    border-radius: 175.5px;
    opacity: 0.6;
    background: linear-gradient(
      97deg,
      rgba(23, 9, 49, 0.8) 0%,
      rgba(98, 83, 126, 0.6) 100%
    );
    filter: blur(100px);
    position: absolute;
    inset: 67% 6% 1% 6%;
  }
}

/* Hero section language rotation */
.HeroRotateSection { 
      position: relative; 
      width: 350px; 
      height: 350px; 
      margin: auto;
    }

    .SoundboxImg {
      width: 184px; 
      height: 187px;
      position: absolute; 
      top: 50%; 
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
    }

    .orbit1 {
      position: absolute;
      width: 283px;
      height: 283px;
      border-radius: 50%;
      top: 50%; 
      left: 50%;
      transform: translate(-50%, -50%);
      border: 2px dashed grey ; /* Orbit line */
      /* Glow effect */
    }

    .Language {
      position: absolute;
      width: 55px;
       height: 35px;
      transform: translate(-50%, -50%);
    }

@media (max-width: 1023px) {
  .SoundBoxHerosectionGradient{
    border-radius: 266.708px;
opacity: 0.75;
background: linear-gradient(180deg, rgba(79, 49, 180, 0.86) 0%, rgba(255, 255, 255, 0.00) 100%);
filter: blur(45.05208206176758px);
position:absolute;
inset:-14% 15% 100% 15%;
  }

}
@media (max-width: 768px) {
  .HeroRotateSection {
    width: 300px;
    height: 400px;
  }

  .SoundboxImg {
    width: 150px;
    height: 150px;
  }

  .orbit1 {
    width: 270px;
    height: 270px;
  }

  .Language {
   width: 46px;
    height: 21px;
  }
}

/* Mobiles (min 320px - 480px) */
@media (max-width: 480px) {
  .HeroRotateSection {
    width:100%;
    height: 330px;
  }

  .SoundboxImg {
    width: 140px;
    height: 140px;
  }

  .orbit1 {
    width: 240px;
    height: 240px;
  }

  .Language {
    width: 40px;
    height: 18px;
  }
}
@media (max-width: 375px) {
  .HeroRotateSection {
    width:100%;
    height: 330px;
  }

  .SoundboxImg {
    width: 130px;
    height: 130px;
  }

  .orbit1 {
    width: 220px;
    height: 220px;
  }

  .Language {
    width: 40px;
    height: 18px;
  }
}