.contacthead,
.visitHeader {
  background: linear-gradient(90deg, #ededed 0%, #9573de 50%, #f8f8f8 64.42%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cardGradiant {
  border-radius: 138px;
  opacity: 0.75;
  background: linear-gradient(
    180deg,
    rgba(64, 28, 139, 0.4) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  filter: blur(85px);

  position: absolute;
  inset: 47% 3% -17% 13%;
  z-index: -1;
  overflow: hidden;
}
.modalHeaderGradient1 {
  background: linear-gradient(90deg, #ededed 0%, #9573de 50%, #f8f8f8 64.42%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cardGradiantTop {
 border-radius: 138px;
opacity: 0.75;
background: linear-gradient(180deg, rgba(64, 28, 139, 0.59) 0%, rgba(255, 255, 255, 0.00) 100%);
filter: blur(80px);
  position: absolute;
  inset: -34% 17% 105% 18%;
  z-index: -1;
}

.modalHeaderGradient2 {
  background: linear-gradient(90deg, #ededed 0%, #9573de 50%, #f8f8f8 64.42%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.modalHeaderGradient3 {
  background: linear-gradient(90deg, #ededed 0%, #9573de 50%, #f8f8f8 64.42%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.FormBorder {
  border: 1px solid transparent;
  border-bottom: 0.5px solid transparent;
  background: linear-gradient(
    0deg,
    rgba(79, 49, 180, 0.4) 6%,
    rgba(34, 21, 78, 0.4) 100%
  );
}

@media (max-width: 767px) {
  .FormBorder {
    border: none;
    background: #0b051e;
  }
}
